@import "../../themes/mixin.less";

.list_box {
  margin-bottom: 50px;
}

.list {
  background-color: #fff;
  border-top: 2px solid #E7E7E7;
  box-shadow: 0 0 5px 5px #E7E7E7;

  li {
    border-bottom: 2px solid #E7E7E7;

    a {
      color: @nb-gray;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 30px;
    }

    &.avatar_box {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 40px 30px;

      .thumb {
        width: 144px;
        height: 144px;
        display: block;
        margin-right: 30px;
      }

      .text {
        font-size: 36px;

        .title {
          font-size: 28px;
          color: @nb-gray;
          display: inline-block;
          margin-bottom: 20px;
        }
      }
    }

    .more {
      flex: 1;
      text-align: center;
      color: @nb-gray;
      padding: 40px 30px;
    }
  }
}

.action_sheet_box {
  position: fixed;
  left: 0;
  top: 100vh;
  right: 0;
}
