@import "../../themes/mixin.less";

.list_box {
  margin-bottom: 50px;
}

.empty_box {
  background-color: #fff;
  height: e('calc(100vh - 88px)');
}

.list {
  background-color: #fff;
  border-top: 2px solid #E7E7E7;
  box-shadow: 0 0 5px 5px #E7E7E7;

  li {
    border-bottom: 2px solid #E7E7E7;

    a {
      color: @nb-gray;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 30px;
    }

    &.avatar_box {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 40px 30px;

      .thumb {
        width: 144px;
        height: 144px;
        display: block;
        margin-right: 30px;
      }

      .text {
        font-size: 36px;

        .title {
          font-size: 28px;
          color: @nb-gray;
          display: inline-block;
          margin-bottom: 20px;
        }
      }
    }

    .more {
      flex: 1;
      text-align: center;
      color: @nb-gray;
      padding: 40px 30px;
    }
  }
}

.action_sheet_box {
  position: fixed;
  left: 0;
  bottom: -100vh;
  right: 0;
  z-index: 1001;
  display: flex;
  align-items: flex-end;
  transition: all .35s ease;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
  }

  &.active {
    top: 0;
    bottom: 0;
  }

  .list {
    max-height: 50vh;
    overflow: auto;
    position: relative;
    z-index: 1002;
    flex: 1;
    margin-bottom: 124px;
  }

  .bottom_box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 30px;
    z-index: 1003;
    background-color: #fff;
    text-align: center;
    border: 2px solid #e3e3e3;
    font-size: 36px;
    color: @nb-gray-dark;
  }
}
