@import "../../themes/mixin.less";

.box {

  .title {
    background-color: #fff;
    text-align: center;
    color: @nb-gray;
    padding-top: 30px;
    font-size: 36px;
  }

  .date_select {
    display: flex;
    background-color: #fff;
    align-items: center;
    padding: 30px;
    margin-top: 30px;

    .center {
      padding-left: 30px;
    }

    .selected {
      flex: 1;
      padding: 0 0 0 150px;
      border: none;
      appearance:none;
      background-color: #fff;
      background: url("/images/arrow-down.png") no-repeat right center transparent;
      background-size: 60px 60px;
      padding-right: 28px;

      option {
        padding: 0 0 0 150px;
        line-height: 112px;
      }
    }
  }

  .tips {
    color: @nb-gray-light;
    font-size: 28px;
    padding-top: 30px;
    padding-left: 100px;

    span {
      color: @nb-blue;
    }
  }

  .btn {
    width: 80%;
    margin: 60px auto 0;
    background-color: @nb-blue;
    color: #fff;
    padding: 30px;
    text-align: center;
    border-radius: @nb-border-radius;

    &.disabled {
      color: #bbbbbb;
      background-color: #e8e8e8;
    }
  }
}
