@import "../../../themes/mixin.less";

.title_box {
  padding: 20px 30px;
  font-size: 28px;

  .number {
    background-color: @nb-blue;
    font-size: 24px;
    color: #fff;
    padding: 0 10px;
    margin-right: 20px;
  }
}

.form_box {
  background-color: #fff;
  padding: 0 30px;

  :global {
    textarea {
      font-size: 28px;
    }
  }
}
