@import "../../../themes/mixin.less";

.title_box {
  padding: 20px 30px;
  font-size: 28px;
  // color: @nb-gray;

  .number {
    background-color: @nb-blue;
    font-size: 24px;
    color: #fff;
    padding: 0 10px;
    margin-right: 20px;
  }

  .errors {
    color: @nb-errors;
  }
}

.form_box {
  background-color: #fff;
  padding: 0 30px;
  font-size: 28px;

  :global {
    textarea {
      font-size: 28px;
    }
  }

  .row {
    padding: 10px 0;

    .title_box {
      padding: 0;

      .number {
        background-color: #fff;
        font-size: 28px;
        color: @nb-gray-dark;
        margin-right: 0;
      }
    }

    .title {
      display: inline-block;
      margin-bottom: 10px;

      &.errors {
        color: @nb-errors;
      }
    }
  }
}

.btn_box {
  padding: 50px 100px 20px;
  text-align: center;

  .btn {
    display: block;
    padding: 30px 0;
    color: #fff;
    background-color: @nb-blue;
    border-radius: 10px;
  }
}

.toast_box {
  display: flex;
  align-items: center;
  padding: 30px;

  .msg {
    font-size: 32px;
    margin-left: 20px;
  }
}
