@import "../../themes/mixin.less";

.notice_box {
  background-color: @nb-bg-fill;
  padding: 20px 0 20px 30px;
  display: flex;
  align-items: center;

  .title {
    color: @nb-blue-light;
    font-size: 36px;
  }

  .content {
    color: @nb-gray-light;
    flex: 1;

    a {
      color: @nb-gray-light;
    }
  }
}
