@import "../../themes/mixin.less";

.list_box {
  padding: 50px 40px 140px;
  background-color: #fff;
  min-height: 47.7vh; //跟empty齐平

  &.feedback_box {
    padding: 50px 40px;
    min-height: e('calc(100vh - 188px)');
  }

  .list {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }

    .left {
      display: flex;
      align-items: center;
      flex: 1;

      .title_box {
        padding-left: 30px;
        line-height: 1.5;
      }

      .gray {
        font-size: 26px;
        color: @nb-gray-light;
      }
    }

    .right {
      text-align: right;

      .btn {
        color: @nb-gray-light;
        font-size: 24px;

        &.underline {
          text-decoration: underline;
        }

        &.border {
          border: 2px solid currentColor;
          padding: 8px 30px;
          border-radius: 6px;
        }

        &.absent {
          color: #D0021B;
        }

        &.blue {
          color: @nb-blue;
        }

        &.disabled {
          border: 2px solid #e8e8e8;
          background-color: #e8e8e8;
          color: #bbbbbb;
          padding: 8px 30px;
          border-radius: 6px;
        }
      }
    }
  }

}

.modal_title {
  color: #FF7871;
}
