@import "../../themes/mixin.less";

.box {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  border-bottom: 2px solid #e3e3e3;

  .title {
    color: @nb-gray-dark;
    font-size: 32px;
    margin-bottom: 30px;
  }

  .text {
    color: @nb-gray-light;
    font-size: 24px;
  }

  .text2 {
    color: @nb-blue;
    font-size: 28px;
    margin-top: 30px;
  }

  :global {
    .am-progress-outer {
      background-color: #EDEFF1;
      border-radius: 6.5px;
      margin-bottom: 20px;
    }

    .am-progress-bar {
      border: none !important;
      border-radius: 6.5px;
      background-color: @nb-blue;
      height: 14px !important;
    }
  }
}
