@import "../../themes/mixin.less";

.full_screen_box {
  position: fixed;
  top: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
  transition: top .35s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.active {
    top: 0;
  }

  .top_box {
    padding: 15px 30px;

    .back {
      text-align: center;
      padding-bottom: 30px;
    }

    .info {
      text-align: center;

      .title {
        font-size: 36px;
        display: inline-block;
        line-height: 2;
        color: @nb-gray-dark;
      }

      .author {
        color: @nb-gray;
      }
    }
  }

  .image_bg {
    position: relative;
    z-index: 100;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: e('calc(100vh - 220px - 280px)');
      height: e('calc(100vh - 220px - 280px)');
      max-width: 640px;
      max-height: 640px;
    }
  }

  .bottom_box {
    padding: 30px 30px 50px;

    .slider_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;

      :global {
        .am-slider-wrapper {
          flex: 1;
        }

        .am-slider {
          margin: 0;
        }
      }

      .curtime, .duration {
        display: block;
        padding-top: 6px;
        font-size: 24px;
        min-width: 64px;
        color: @nb-gray;
      }

    }

    .opt_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 50px 0;

      svg {
        transition: transform .25s ease-in-out;
        width: 60px;
        height: 60px;
      }

      .pause_o, .play_o {
        width: 100px;
        height: 100px;
      }

      .pause_o {
        transform: rotateZ(180deg);
      }
    }
  }
}
