@import "../../themes/mixin.less";

.title_box {
  position: relative;
  padding: 30px 30px 30px 60px;
  border-bottom: 2px solid #eee;

  &::before {
    content: '';
    position: absolute;
    left: 30px;
    top: 30px;
    bottom: 30px;
    width: 8px;
    background-color: @nb-blue;
  }

  .title {
    color: @nb-gray-light;
  }
}

.list_box {
  background-color: #fff;

  &.playing {
    margin-bottom: 120px;
  }

  .list {

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: @nb-gray-dark;
      padding: 30px 30px 30px 15px;
      border-bottom: 2px solid #eee;

      .left {
        flex: 1;
        display: flex;
        align-items: center;
      }

      .title {
        padding-left: 15px;
      }

      .opt_box {
        svg {
          display: block;
          transition: transform .25s ease-in-out;
        }

        .pause {
          transform: rotateZ(180deg);
        }
      }
    }
  }
}
